{% load markdown_deux_tags %}
<head>
        {{ form.media }}
</head>
<a href="{% url 'blog' %}">Home</a>
<div class="title"><h2>{{ post.title }}</h2></div>
                <ul>
                    <div class="time" style="font-size:10px">{{ post.created_on}}</div>
                    <div class="body">{{ post.text|linebreaks }}</div>
                </ul>
                {% if post.comment_set.all %}
                       
                     <p><b>Comments:</b></p>
                     <ul>
                    {% for comment in post.comment_set.all %}
                    
                        <div class="comment">
                        <div class="time" style="font-size:10px">{{ comment.created_on }} | <a href="{{ comment.website }}">{{ comment.name }}</a></div>
                        <div class="body">{{ comment.text|markdown }}</div>
                        </div>
                    
                    {% endfor %}
                    </ul>
                {% endif %}
                <a href="{% url 'blog_add_comment' slug=post.slug %}">Add comment</a>


