{% extends "blog/base.html" %}
{% load markdown_deux_tags %}
<head>
        {{ form.media }}
</head>
{% block sidebar %}
    <style type="text/css">
        #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; }
        a { margin-left: 15px; }
    </style>
    <div id="sidebar">
        Monthly Archive
        <p>
        {% for month in months %}
            {% ifchanged month.0 %} {{ month.0 }} <br /> {% endifchanged %}
            <a href="{% url 'blog_month' month.0 month.1 %}">{{ month.2 }}</a> <br />
        {% endfor %}
        </p>
    </div>
{% endblock %}


{% block content %}
    <div class="main">
        {% if archive %}
        <a href="{% url 'blog' %}">Home</a>
        {% endif %}
        <!-- Posts  -->
        <ul>
            {% for post in post_list %}
                <div class="title"><h2>{{ post.title }}</h2></div>
                <ul>
                    <div class="time" style="font-size:10px">{{ post.created_on}}</div>
                    <div class="body">{{ post.text|linebreaks }}</div>
                </ul>
                
                       <a href="{% url 'blog_post_detail' slug=post.slug %}">Comments ({{ post.comment_set.count }})</a>
                       <!--{% if post.comment_set.all %}
                     <p><b>Comments:</b></p>
                     <ul>
                    {% for comment in post.comment_set.all %}
                        <div class="comment">
                    
                        <div class="time" style="font-size:10px">{{ comment.created_on }} | <a href="{{ comment.website }}">{{ comment.name }}</a></div>
                        <div class="body">{{ comment.text|markdown }}</div>
                        </div>
                    
                    {% endfor %}
                    </ul>
                {% endif %}-->

            </br>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: 20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}

